################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PerformanceGraph.VC.VC.opendb
/PerformanceGraph.VC.db
